{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a target="_blank" href="/visual1">
                <img src="assets/images/Fig1.png" alt="Lat v Max temp" style="max-width:40%;">
        </div>
        
        <div class="col-md-6">
            <a target="_blank" href="/visual2">
                <img src="assets/images/Fig2.png" alt="Lat v Humid" style="max-width:40%;">
            </a>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a target="_blank" href="/visual3">
                <img src="assets/images/Fig3.png" alt="Lat v Cloud" style="max-width:40%;">
            </a>
        </div>
        <div class="col-md-6">
            <a target="_blank" href="/visual4">
                <img src="/assets/imagesFig4.png" alt="Lat v Wind Speed" style="max-width:40%;">
            </a>
        </div>
      </div>
    </div>
</div>    
{% endblock %}